@import url("bootstrap.min.css");
@import url("mdb.min.css");

/*** Put custom styles below ***/

html, body, .background{
  height: 100%;
  overflow: hidden;
}
.background {
  background: url("../img/blue_ridge.JPG")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.inline-form-text {
  color: grey;
  font-size: 70%;
}

.u-hover--grey:hover {
  background-color: #F0F0F0 !important;
}

.custom-link {
  color: #2BBBAD;
}
.custom-link:hover {
  color: #00695c;
}

.list-item {
  color: black !important;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #E0E0E0;

}

.search-list {
  height: 60vh;
  overflow-y: scroll;
}

.custom-dropdown {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px #AAAAAA;
}

.custom-dropdown:active {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 2px #4285F4;
}

.google_map {
  width: 100%;
  height: 40vh;
}

.card-section-title {
  border-bottom: solid 1px #E0E0E0;
  margin-bottom: 16px;
  margin-top: 16px;
}

.mountain-details {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width : 320px) and (max-width : 414px){
   .card-body {
     height: 80vh;
     overflow-y: scroll;
   }
}
